@charset "UTF-8";

*{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    background-color: #222;
    grid-template: auto 1fr auto / auto 1fr auto;
}
a{
    text-decoration: none;
    color: beige;
}
iframe{
    border-width: 0px;
}

.rootdiv{
    display: flex;
    justify-content: center;
}
.rootdiv-after{
    display: flex;
    justify-content: start;
}

.canvas{
    display: grid;
    justify-content: center;
    max-height: 100vh;
    max-width: 100vw;
}
.canvas-click{
    display: grid;
    justify-content: center;
    max-height: 100vh;
    max-width: 100vw;
    animation: canvas-click-anim 1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
@keyframes canvas-click-anim {
    from{
        display: grid;
    }
    to{
        display: none;
    }
}
.canvas-after{
    display: grid;
    justify-content: start;
    justify-items: start;
    max-height: 100vh;
    max-width: 100vw;
    animation: canvas-after-anim 1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
@keyframes canvas-after-anim {
    from{
        display: none;
    }
    to{
        display: grid;
    }
}

.main-center{
    display: flex;
    align-items: center;
    padding: 0;
    min-height: 100vh;
    color: beige;
}
.main-center-after{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: beige;
}

.sub{
    margin: 10px;
}
.sub-after{
    margin: 10px;
    writing-mode: vertical-rl;
}

.sub-txt{
    font-size: 25px;
    font-family: 'Author', sans-serif;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}
.sub-txt:hover{
    margin: 4px;
    font-size: 22px;
    color: rgba(245, 245, 220, 0.7);
}

.main{
    display: grid;
    justify-items: center;
    margin: 10px;
    margin-block-start: -10px;
    border: solid 2px beige;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}
.main-after{
    display: grid;
    justify-items: center;
    writing-mode: vertical-rl;
    margin: 10px;
    margin-block-start: -10px;
    border: solid 2px beige;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}
.main:hover{
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 1em;
}
.main-after:hover{
    letter-spacing: 1em;
}
.main-txt1{
    font-size: 60px;
    margin-bottom: -10px;
    font-family: 'Chillax', sans-serif;
}
.main-txt1-after{
    font-size: 60px;
    margin-left: -10px;
    font-family: 'Chillax', sans-serif;
}
.main-txt2{
    font-size: 20px;
    margin-top: -10px;
    font-family: 'Outfit', sans-serif;
}
.main-txt2-after{
    font-size: 20px;
    margin-right: -10px;
    font-family: 'Outfit', sans-serif;   
}/* main終わり */

.page{
    display: none;
}
.page-after{
    display: flex;
    margin-left: 25px;
    flex-grow: 1;
    justify-content: center;
}

.frame{
    min-width: stretch;
    min-width: -webkit-fill-available;
    min-height: 75vh;
}

@media (max-width:768px) {
    .rootdiv{
        display: flex;
        justify-content: center;
    }
    .rootdiv-after{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .canvas{
        max-width: 100vw;
        max-height: 100vh;
    }
    .canvas-after{
        display: grid;
        max-width: 100vw;
        max-height: none;
        justify-content: center;
    }
    .main-center{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        max-height: 100vh;
    }
    .main-center-after{
        min-height: 25vh;
        flex-direction: row;
    }
    .main{
        margin: 0px;
    }
    .main-after{
        padding-right: 5px;
        padding-left: 15px;
    }
    .main:hover{
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-after{
        writing-mode: horizontal-tb;
    }
    .main-txt1{
        font-size: 45px;
        margin-bottom: -5px;
    }
    .main-txt1-after{
        font-size: 45px;
    }
    .main-txt2{
        font-size: 15px;
        margin-top: -5px;
    }
    .main-txt2-after{
        font-size: 15px;
    }
    .work{
        margin: 0px;
    }
    .work-txt{
        font-size: 30px;
    }
    .about{
        margin: 0px;
    }
    .about-txt{
        font-size: 30px;
    }
    .page-after{
        margin-left: 0px;
    }
}