@charset "UTF-8";

*{
    box-sizing: border-box;
}
:root{
    --font-title: 'Zina', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-image: url("img/VvG_Wut.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

    position: relative;
    min-width: 90vw;
    min-height: 90vh;
}

.rootdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-title);
    font-size: 18vw;
}
 .separate{
    background-color: black;
    width: 80%;
    height: 5px;
 }