@charset "UTF-8";

*{
    box-sizing: border-box;
}
:root{
    --font-title: 'Zina', sans-serif;
}
html,body{
    height:100%;
    width: 100%;
    margin:0;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
body{
    background-image: url("img/VvG_Wut.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

    position: relative;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:10%;
}
.menu-section{
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu-text{
    writing-mode: vertical-rl;
    font-size: 30px;
    font-family: var(--font-title);
}

.menu-section input{
    display: none;
}
.menu-section input[type="radio"]:checked + label {
    color: beige;
    font-size: 40px;
    animation: CheckAnim 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@keyframes CheckAnim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.NoCheckHide{
    display: none;
}