@charset "UTF-8";

*{
    box-sizing: border-box;
}
:root{
    --font-title: 'Zina', sans-serif;
    --font-main: 'Public Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
body{
    position: relative;
    min-width: 90vw;
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 7, 37, 0.8), rgba(0, 0, 0, 0.3)),
    url(img/VvG_Wut.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.rootdiv{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    background-image: url("img/VvG_Wut.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: #ffffff96;
    font-family: var(--font-title);
    font-size: 5vw;
}
.maintxt{
    margin: 10px;
    font-size: 30px;
}
.main{
    display: grid;
    justify-items: center;
    width: 80%;
    font-family: var(--font-main);
    font-size: 50px;
    margin: 10px;
}

@media (max-width:1300px) {
    .rootdiv{
        font-size: 10vw;
    }
}
@media (max-width:1000px) {
    .main{
    }
}
@media (max-width:700px) {
    .rootdiv{
        font-size: 20vw;
    }
    .main{
        font-size: 50px;
    }
    .maintxt{
        font-size: 30px;
    }
}
@media (max-width:500px) {
    .rootdiv{
        font-size: 20vw;
    }
}