@charset "UTF-8";
*{
    box-sizing: border-box;
}
a{
    color: rgba(0, 0, 0, 0);
}
body{
    position: relative;
    padding: 5px;
    min-height: 97vh;
    min-width: 97vw;
    display: flex;
    justify-content: center;
}
.canvas{
    position: relative;
    display: flex;
    flex-direction: column;

}
.title{
    color: #f5f5dc;
    font-size: 40px;
    font-family: 'Author', sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    color: beige;
    font-size: 20px;
    font-family: 'Supreme', sans-serif;
}
span{
    margin: 10px;
}
.sns{
    display: flex;
    align-items: center;
}
.email{
    color: beige;
    font-family: 'Suthor', sans-serif;
    margin-top: 5px;
}
